# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs/Dynmap-3.4-forge-1.12.2.jar
libs/ImmersiveEngineering-0.12-98.jar
libs/JABCM-1.12.2-0.0.6_A.jar
libs/Pam's+HarvestCraft+1.12.2zg.jar
