# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
libs/Pam's+HarvestCraft+1.12.2zg.jar
libs/JABCM-1.12.2-0.0.6_A.jar
libs/ImmersiveEngineering-0.12-98.jar
